:root {
  ---heading-font: "Kaushan Script", cursive;
  ---default-font: "The Girl Next Door", cursive;
  ---default-text-color: #527965;
  ---alternate-color: #a068a0;
  ---secondary-background: #2f4f4f;
}

h1,
h2,
h4 {
  font-family: var(---heading-font);
  color: var(---default-text-color);
}

body {
  background-color: #f7b453;
  background-image: url(./src/sunflower.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: 250px;
}

footer {
  color: var(---default-text-color);
  font-family: var(---default-font);
  margin-bottom: 30px;
}

footer .contact-box {
  background-color: var(---secondary-background);
  border-radius: 4px;
  font-family: var(---default-font);
  color: white;
  padding: 12px 20px;
  margin: 20px;
}

footer .work {
  margin: 10px 20px;
}

footer .btn-branding {
  background-color: white;
  color: var(---default-text-color);
  margin: 15px 20px;
}

footer :hover.btn-branding {
  color: var(---alternate-color);
}

footer .fa-linkedin,
.fa-github {
  color: white;
  width: 38px;
  background-color: var(---secondary-background);
  border-radius: 50px;
  padding: 10px 10px;
  margin-bottom: 8px;
}

footer :hover.fa-github,
:hover.fa-linkedin,
:hover.shecodes-logo {
  background-color: var(---alternate-color);
}

footer .shecodes-logo {
  width: 36px;
  background-color: var(---secondary-background);
  border-radius: 50px;
  padding: 10px 8px;
  margin-bottom: 4px;
}

footer h4 {
  color: var(---alternate-color);
  font-size: 30px;
}

.navbar,
.navbar-brand,
.navbar-link a {
  font-family: var(---heading-font);
  font-size: 24px;
  color: var(---default-text-color);
  opacity: 10;
}

.navbar-brand {
  font-size: 30px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  font-family: var(---default-font);
  color: var(---default-text-color);
}

.logo {
  background-color: var(---alternate-color);
}

.btn-branding {
  background: var(---secondary-background);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 16px;
}

:hover.btn-branding {
  color: var(---alternate-color);
}

.container-about {
  font-family: var(---default-font);
  color: var(---alternate-color);
  background-color: var(---secondary-background);
  border: 1px solid var(---secondary-background);
  border-radius: 4px;
  padding: 12px 20px;
  margin: 100px;
}

.about {
  padding: 10px;
}

.about h1 {
  color: var(---alternate-color);
}

.paragraph {
  padding: 10px;
  color: white;
}

.kelsey {
  display: block;
  margin: 0 auto;
  max-width: 30%;
}

.contents {
  margin-top: 40px;
}

.dictionary {
  background-color: white;
}

.email,
.linkedin,
.open-source {
  text-decoration: none;
  color: var(---default-text-color);
}

:hover.email,
:hover.linkedin,
:hover.open-source {
  color: var(---alternate-color);
}

@media (max-width: 724px) {
  .container-about {
    margin: 20px;
  }
  .header {
    margin: 40px;
  }
  .contact-box {
    flex-wrap: wrap;
  }
}
